#map{
    width:100%;
    height:calc(100vh - 56px);

}
.coordinate-div{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid slateblue;
    border-radius: 15px ;
}
#coordinate{
    display: flex;
    background-color:slateblue;
    color: white;
    width: 300px;
    height: 30px;
    align-items: center;
    justify-content: center;

   
}
.fullscreen-div{
    position:absolute;
    top: 220px;
    right: 14px;
    background-color: white;
    
}
#zoomToLayer{
    position:absolute;
    top: 260px;
    right: 14px;
    background-color: white; 
}
.pin{
    position:absolute;
    top: 299px;
    right: 14px;
    background-color: white; 
}
.pin .tooltiptext{
    visibility: hidden;
    width: 300px;
    background-color: #fff;
    color:black;
    font-size: large;
    text-align: center;
    border-radius: 6px;
    position:absolute;
    top: 2px;
    right: 30px;
    
    z-index: 1;
}
.pin:hover .tooltiptext{
    visibility: visible;
    
}