{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="{% static '/leaflet-measure.css'%}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="{% static '/style1.css'%}">
    <title>Geoproject</title>
   
</head>
<style>
  .leaflet-popup-content {
      width: 500px;
  }
</style>
<body>
  
 
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Web View</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Upload</a>
            </li>
        

          </ul>
        </div>
      </nav>
      
   <div id="map">

    <!-- coordinate showing  -->
    <div class="leaflet-control coordinate-div">
        <div id="coordinate"> </div>
    </div>
    <!-- fullscreen browser -->
    <div class="leaflet-control fullscreen-div"onclick=fullScreenView()>
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
          </svg>
    </div>
    <!-- zoom To Layer -->
    <div class="leaflet-control" id="zoomToLayer">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
          </svg>
    </div>

    <div class="leaflet-control leaflet-prevent pin">
      <span class="tooltiptext">Enable option for add Markers with note</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pin-fill" viewBox="0 0 16 16">
        <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354z"/>
      </svg>
    </div>
    
   </div>
    <!-- <button id="map-print">Print Map </button> -->
</body>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{% static '/leaflet.browser.print.min.js' %}"></script>
<script src="{% static '/leaflet-measure.js'%}"></script>
<script src="{% static '/nepal3.js'%}"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script src="{% static '/main.js' %}"></script>
<script src="{% static '/web-gis.js' %}"></script>


<script>

   $('.leaflet-prevent').on('click',L.DomEvent.stopPropagation);
   var pinToggler = true;
  

   $('.pin').on('click',function(){
    if(pinToggler)
    {
      map.on('click',function(e){
     var lat = e.latlng.lat;
     var lng = e.latlng.lng;
     
     var popup = `<form action="{% url 'note' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="note heading">Note heading</label>
          <input type="text" name='note_heading' class="form-control" placeholder="Enter note heading">
        </div>
        <input type="hidden" name="lat" value="${lat}">
        <input type="hidden" name="lng" value ="${lng}">
        <div class="form-group">
          <label for="note">Note</label>
          <textarea class='form-control' name="note" placeholder="Enter note here"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>`;
      
      var marker = L.marker([lat,lng]).bindPopup(popup)
      marker.addTo(map)
     console.log(e)
  })
  pinToggler = !pinToggler;
  }
    
    else {
      map.off('click')

    }
 
   })
   var markerGroup = new L.featureGroup()
    {% for n in note %}
        var lat = {{n.lat}}
        var lng = {{n.lon}}
        var marker = L.marker([lat, lng]).bindPopup(`<h3>{{n.note_heading}}</h3><p>{{n.note}}</p>`)
        marker.addTo(markerGroup)
    {% endfor %}


    var overlayMaps = {
        'Notes': markerGroup
    };


  {% for s in shp %}

  var {{s.name}} = L.tileLayer.wms('http://localhost:8080/geoserver/geoapp/wms',
  {
  layers: '{{s.name}}',
  transparent: true,
  format: 'image/png'
  })                                                
  
   
   overlayMaps['{{s.name}}'] = {{s.name}}
  {% endfor %}
     
  
L.control.layers(baseMap, overlayMaps, {collapsed: false,position: 'topleft'}).addTo(map);

</script>
</html>
